<h1 class="title">Manage Site Heirarchy</h1>
<p>Here you can easily organize all the pages of your website in one place.
To change the order of a page, select the page then click and drag it to another
location. It's that easy. If you drag the page onto another page, the dragged
page will now fall under the other page in the hierarchy. After you're satisfied
with the heirarchy, click "Update." Your page order will not be saved until you click "update."</p>
<div id="sortable-menu">
  <ul></ul>
</div>
<br />
<%= link_to 'Update Menus', '#', :id => 'save-changes', :class => "btn medium" %>
<%= link_to 'Reload Menus', admin_pages_path(), :class => "btn medium" %>
<%= link_to 'Cancel', :back %>

<script>
  $(function () {
    $("#sortable-menu").jstree({
      "core" : {
        "initially_open" : [ "<%= 'page_' + @requested_site.root_page.id.to_s %>" ],
        "animation" : 200
      },
      "html_data" : {
        "data" : '<%= raw @pages.to_s %>'
      },
		  "json_data" : {
			  "ajax" : {
				  "url" : "<%= admin_page_path(@requested_site.root_page) %>.json",
				  "data" : function (n) { 
					  return { id : n.attr ? n.attr("id") : 0 }; 
				  }
			  }
		  },
		  "plugins" : [  "html_data", "ui", "dnd", "json_data" ]
    });
    
    $('#save-changes').live("click", function(){
      var response = $.ajax({
        url: '<%= sort_admin_pages_path() %>',
        type: 'POST',
        data:  $.toJSON($('#sortable-menu').jstree("get_json", -1)),
        contentType: 'application/json; charset=utf-8'
      });
      //$('#menu-errors').html(response.responseText);
      return false;
    });
  });
</script>

