<%#= content_for :head do %>
  <!--
  <script>
    if (typeof(FoxyDomain) == 'undefined') {
      var FoxyDomain = "KERN-Coin.foxycart.com";
    }
  </script>
  <script src="http://cdn.foxycart.com/yourdomain/foxycart.js"></script>
  <script src="http://cdn.foxycart.com/yourdomain/foxybox.js"></script>
  <link rel="stylesheet" href="http://KERN-Coin.foxycart.com/files/foxybox.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="stylesheet" href="http://KERN-Coin.foxycart.com/themes/standard/theme.foxybox.css" type="text/css" media="screen" charset="utf-8" />
  -->
<%# end %>



<div class="full-display product">
  <div class="left">
    <%= link_to image_tag(@item.main_image ? @item.main_image.full_size_image : "no_image_full_size.gif"), shortcut_path(@node.shortcut) %>
    <% if @item.product_images %>
      <% @item.product_images.each do |product_image| %>
        <div class="thumb">
          <%= link_to (image_tag product_image.preview_image), product_image.original_image, :rel => 'group1', :class => 'gallery' %><br />
          <%#= (product_image.id == @item.product_images[0].id) ? "Obverse" : "" %>
          <%#= (@item.product_images[1] and (product_image.id == @item.product_images[1].id)) ? "Reverse" : "" %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="right">
    <h3 id="item-name"><%= @item.name %></h3>
    <p id="item-short-description"><%=raw @item.short_description %></p>
    <p id="item-long-description"><%=raw @item.long_description %></p>
    <p id="item-cost"><%= number_to_currency(@item.cost) %></p>
    <p id="item-part-number"><%= @item.part_number %></p>
    <% if @item.for_sale %>
      <%#= link_to 'Add To Cart', "https://KERN-Coin.foxycart.com/cart?quantity_max=1&name=#{@item.name}&price=#{@item.cost}&item-id=#{@item.item_id}", :class => 'foxycart add-to-cart btn large yellow' %>
      <p><strong>To order, call (859)-269-1614</strong></p>
    <% else %>
      <p><strong>Out of stock</strong></p>
    <% end %>
  </div>
</div>

