<%
@post = @node.page
@blog = @post.blog
%>

<article class="post">
  <h1 class="title"> <%= @post.title %> </h1>
  <p class="created-at"><%= @post.post_date.strftime("%B %d, %Y %l:%m%p") %></p>
  <p><%=raw @post.body %></p>
</article>



<!-- Content_for components to insert into the layout -->
<%= content_for :subColumn do %>
  <h3><%= @blog.node.menu_name %></h3>
  <div id="categorySub">
    <ul class="blogList">
      <% @blog.posts.each do |post| %>
        <%= content_tag_for :li, post do %> <%= link_to post.title, shortcut_path(post.node.shortcut) %> <% end %>
      <% end %>
    </ul>
  </div>
<% end %>

<%= content_for :breadcrumb do %>
  <div class="breadcrumb">
    <%= link_to 'Blogs', '#' %> &gt; <%= link_to @blog.title, shortcut_path(@blog.node.shortcut) %> &gt; <%= link_to @post.title, shortcut_path(@node.shortcut) %>
  </div>
<% end %>

<% if admin? %>
  <% content_for :page_admin_bar do %>
    <%= link_to 'Edit Post', edit_admin_blog_post_path(@blog, @post), :class => 'btn large' %>
    <%= link_to 'Destroy Post', admin_blog_posts_path(@blog, @post) , :confirm => "Are you sure?", :method => :delete, :class => 'btn large' %>
  <% end %>
<% end %>
<!-- End -->

