<%= form_for([:admin,@node]) do |f| %>
  <%= render :partial => 'shared/form_errors', :locals => {:resource => @node} %>

<%= field_set_tag 'Page Name' do %>
  <div class="field">
      <%= f.label :displayed, raw("&nbsp;") %>
      <%= f.check_box :displayed %> Display as page?
    </div>
    <div class="field"><span class="hint"><a class="expander">Explain this</a></span>
      <%= f.label :title, "Page Title", :class => "req" %>
      <%= f.text_field :title, :class => 'halfw' %>
      <span class="expanded-hint">The page title appears in the title bar at the very top or your
      web browser window and is particularly important to search results so make it unique and descriptive.
      The page title is also shown by the "Page Title" token in your template.</span>
    </div>
    <div class="field"><span class="hint"><a class="expander">Explain this</a></span>
      <%= f.label :menu_name, "Menu Name" %>
      <%= f.text_field :menu_name, :class => 'halfw' %>
      <span class="expanded-hint">The menu name is used to display your page in the menus of your
      website. This is useful for making a long page title shorter and more manageable in menus.</span>
    </div>
    <% unless @dynamic_page.node.site %>
      <div class="field"><span class="hint"><a class="expander">Explain this</a></span>
        <%= f.label :shortcut %>
        <%= "http://" + request.domain + "/" %><%= node_f.text_field :shortcut, :class => 'halfw' %>
        <span class="expanded-hint">The shortcut is used to give this page an easy to remember direct address.
        For example if you make your shortcut “<strong>New Product</strong>”, then anyone can type
        “<strong>www.yourwebsite.com/new-product</strong>” to visit it. This is useful for adding keywords to
        URLs for search engine marketing, traditional marketing, and creating easy-to-remember landing pages.</span>
      </div>
    <% end %>
<% end %>
    
<% unless @node.site %>
  <%= field_set_tag 'Page Location' do %>
      <div class="field">
        <span class="hint">Select where this page should exist within the site heirarchy.</span>
        <%= f.label :parent_id, "Parent Page" %>
        <%= f.select :parent_id, @current_site.site_tree_select %>
      </div>
  <% end %>
<% end %>

<%= field_set_tag 'Page Display' do %>
  <div class="field"><span class="hint">Choose the template you would like this page to use.</span>
    <%= f.label :layout_name, "Template Type", :class => "req" %>
    <%= f.select :layout_name, options_for_select(Node.page_layout_select, @node.layout || DEFAULT_TEMPLATE ) %>
  </div>
<% end %>  

  <%= render :partial => 'admin/submit', :locals => {:f => f, :type => 'Page'} %>

<% end %>

