<div class="paginate-container cf">
  <div class="pagination"><%= will_paginate resource %></div>

  <%= form_tag(request.url, :method => :get, :class => 'per-page-form') do %>
    <div class="field">
      Display how many items per page? &nbsp;
      <%= select_tag(:per_page, options_for_select([['10','10'],['25','25'],['50','50'],['100','100'],['All','10000000']], @per_page)) %>

      <% if @search_params %>
        <% for param in @search_params %>
          <%= hidden_field_tag(param[0].to_sym, param[1]) unless param[0] == 'per_page' or param[0] == 'page'  %>
        <% end %>
      <% end %>

      <%= submit_tag('Update Selection', :disable_with => 'Updating...', :class => "btn small blue") %>
    </div>
  <% end %>
</div>

