<h1 class="title">Search Results</h1>

<%= render :partial => 'elem_partials/item_list_elem_partials/table_list', :locals => {:items => @items} %>
<%= render :partial => 'shared/pagination', :locals => {:resource => @items} %>


<!-- Content_for components to insert into static_page -->
<%= content_for :subColumn do %>
  <%= render :partial => 'inventory/sub_column' %>
<% end %>

<%= content_for :breadcrumb do %>
  <%= render 'partials/inventory_breadcrumb' %>
<% end %>
<!-- End -->

