<% @category ||= @node.category || Category.first  %>

<!-- Element -->
<section  class="element CategoryElem">
  <h1 class="title  category-elem-<%= @category.id %> "><%= @category.title %></h1>
  <p class="category-desc"><%= @category ? @category.description : 'Below are all the sub-categories and items.' %></p>

  <% unless @category.sub_categories.empty? %>
      <%= render :partial => 'elem_partials/category_list_elem_partials/thumbnail_list', :locals => {:categories => @category.sub_categories} %>
  <% end %>

  <% unless @category.items.empty? %>
    <% @items = @category.items %>
    <%= render :partial => 'elem_partials/item_list_elem_partials/thumbnail_list', :locals => {:items => @tem_categories} %>
    <%= render :partial => 'shared/kpagination', :locals => {:resource => @items } %>
  <% end %>
</section>
<!-- END -->



<!-- Elements for the layout -->
<%= content_for :breadcrumb do %>
  <%= render :partial => 'partials/breadcrumb' %>
<% end %>

<%= content_for :subColumn do %>
  <h3><%= @node.menu_name %></h3>
  <div id="categorySub">
    <%= render_navigation(:level => 2..10) %>
  </div>
<% end %>
<!-- End -->

