<title> <%= site_name %> | <%= page_title %></title>

<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="initial-scale=1.0, width=device-width, maximum-scale=1.0"/>


<link rel="shortcut icon" href='/template/water/goldenorb-favicon.png' />
<link rel="apple-touch-icon" href="/apple-touch-icon.png"/>


<%= stylesheet_link_tag admin? ? "admin" : "application" %>
<%= javascript_include_tag admin? ? "admin" : "application" %>
<%= csrf_meta_tags %>


<!--[if lt IE 7 ]>
  <%# script src="javascripts/addons/dd_belatedpng.js"></script %>
  <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
<![endif]-->

<%#*<script src="http://cdn.foxycart.com/KERN-Coin/foxycart.js"></script>%>
<%#*<script src="http://cdn.foxycart.com/KERN-Coin/foxybox.js"></script>%>
<%#*<link rel="stylesheet" href="http://KERN-Coin.foxycart.com/files/foxybox.css" type="text/css" media="screen" charset="utf-8" />%>
<%#*<link rel="stylesheet" href="http://KERN-Coin.foxycart.com/themes/standard/theme.foxybox.css" type="text/css" media="screen" charset="utf-8" />%>

